.container{
    background: white;
    border: 10px;
}

.box1 ul li{
    color: black;
    display: inline-block;
    padding: 20px;
    color: blue;
    
}
.box1 ul li:last-child{
    float: right;
}
.box111 ul li{
    color: black;
    display: inline-block;
    padding: 20px;
    background: yellow;
    font-size: 20px;
}

.box111 ul:hover{
    color: black;
}


.box{ 
   padding: 20px;
}


.box1{
    height: 150px;
    text-align: center;
}
.box2{
    height:300px;
    margin-top: 10px;
    border:10px solid antiquewhite;
    background-color:turquoise;
    background-image: url(imgs/activitypic1.jpg);
    background-size: cover;
}
h4{
    text-align: center;
    margin-top: 80px;
    color:grey
}

.box2:hover{
    opacity:0.5;
}


.box3{
    height:300px;
    margin-top: 10px;
    border:10px solid antiquewhite;
    background-color:turquoise;
    background-image: url(imgs/studying.jpg);
    background-size: cover; 
}
.box3:hover{
    opacity:0.5;
}

#sb1:hover{
visibility: visible;
}
.box4{
    height:300px;
    margin-top: 10px;
    border:10px solid antiquewhite;
    background-color:turquoise;
    background-image: url(imgs/carpool.jpg);
    background-size: cover; 
}
.box4:hover{
    opacity:0.5;
}

.box111 { 
    display: inline-block;
    padding: 20px; 
    text-align: center;
}
.box111 p{
    text-align: left;
    font-size: 15px;
}